
#include "../Submodules/xcconfigs/Base/Targets/Framework.xcconfig"
#include "../Submodules/xcconfigs/Base/Configurations/Release.xcconfig"

PRODUCT_NAME = PnutKit
PRODUCT_BUNDLE_IDENTIFIER = io.pnut.PnutKit
MODULE_NAME = PnutKit
IBSC_MODULE = PnutKit
PRODUCT_MODULE_NAME = PnutKit
EXECUTABLE_NAME = PnutKit

INFOPLIST_FILE = PnutKit/Info.plist

SWIFT_VERSION = 3.1

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/../Frameworks
